<div class="col-12">
  <div class="d-flex mb-3">
    <div class="w-100 align-self-center">
      <h2 class="mb-0" [translate]="'ApplicationListTitle'"></h2>
    </div>
    <div class="flex-shrink-1 align-self-center">
      <a class="btn text-indigo" [routerLink]="['..', 'form', 'apply']">
        <i class="fas fa-plus-circle" style="font-size:2rem"></i>
      </a>
    </div>
  </div>
</div>
<div>

  <ng-template #emptyTemplate>
    <div class="text-center">
      <div class="mt-5">
        <div class="icon-circle bg-gray-300 border-gray-100"></div>
      </div>
      <div class="mt-4">
        <h4 class="font-3xl text-dark" [translate]="'EmptyListTitle'"></h4>
        <a class="font-lg text-indigo" [routerLink]="['..', 'form', 'apply']" [translate]="'EmptyListLinkMessage'"></a>
      </div>
    </div>
  </ng-template>

  <ng-container *ngFor="let item of items">
    <div class="card">
      <div class="card-header bg-gray-100">
        <h4>{{item.studyProgram.name}} <ng-container *ngIf="item.specialization">
            <span class="text-secondary">({{item.specialization.name}})</span>
          </ng-container>
          <h5 class="text-secondary">{{item.actionStatus.name | translate}}</h5>
        </h4>
      </div>
      <a class="text-decoration-none"
        [routerLink]="['../', 'form', item.actionStatus.alternateName === 'PotentialActionStatus' ? 'apply' : 'view' ]"
        [queryParams]="{code: item.code}" title="{{'OpenApplicationForm' | translate}}">
        <div class="card-body pb-1 pt-4">
          <div class="d-flex">
            <div class="w-100">
              <ng-container [ngSwitch]="item.actionStatus.alternateName">
                <i *ngSwitchCase="'CancelledActionStatus'" style="font-size: 8rem"
                  class="fas fa-file-invoice text-gray-200"></i>
                <i *ngSwitchDefault style="font-size: 8rem" class="fas fa-file-invoice text-indigo"></i>
              </ng-container>
            </div>
            <div class="flex-shrink-1 align-self-end d-none">
              <a class="btn btn-lg btn-indigo text-lowercase" [routerLink]="['../']" [translate]="'Open'"></a>
            </div>
          </div>
        </div>
        <div class="card-footer text-secondary">
          <span>
            <span [translate]="'CreatedAt'"></span>&nbsp;<span>{{item.dateCreated | date: 'short'}}</span>
          </span>
          <span class="ml-2">
            <span [translate]="'ModifiedAt'"></span>&nbsp;<span>{{item.dateModified | date: 'short'}}</span>
          </span>
        </div>
      </a>

    </div>
  </ng-container>

  <ng-container *ngIf="loading === false && items.length === 0">
    <ng-container [ngTemplateOutlet]="emptyTemplate"></ng-container>
  </ng-container>


</div>
