.p-description {
  p {
    margin: 0rem !important;
  }
}
.formio-errors.invalid-feedback {
  font-size: 100%;
  .form-text.error {
    color: #f86c6b;
  }
}
.choices.is-disabled {
  .form-control {
    background-color: #f0f3f5;
  }
}

.form-control-readonly {
  .form-control:disabled {
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-radius: unset;
    background-color: inherit !important;
  }
  .choices.is-disabled {
    .form-control {
      border-bottom: none;
      border-right: none;
      border-left: none;
      border-radius: unset;
      background-color: inherit !important;
    }
    .choices__item {
      cursor: default;
    }
  }
}

.formio-component-datetime.form-control-readonly {
  .input-group-append {
    display: none;
  }
}